:root {
  --surface: hsl(240deg 3% 94%);
  --text: hsl(240deg 3% 20%);
  --text-accent: hsl(137deg 100% 45%);
  --font-family: "Major Mono Display", monospace;
  --fs-xl: 5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface: hsl(240deg 3% 20%);
    --text: hsl(240deg 3% 94%);
  }
}

body {
  font-family: var(--font-family);
  color: var(--text);
  background-color: var(--surface);
}

header {
  display: grid;
  place-items: center;
  color: var(--text-accent);
}

h1 {
  font-size: var(--fs-xl);
}

h1,
h2,
h3 {
  text-wrap: balance;
}
