:root {
  --surface: hsl(120deg 10% 10%);
  --font: hsl(0deg 50% 10%);
}

body {
  margin: 0;
}

.wrapper {
  position: relative;
  min-height: 100svh;
  color: var(--font);
  background-color: var(--surface);
}

#game {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
